<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="icon" href="images/logo.png" type="image/gif" sizes="any">

  <meta charset="UTF-8">
  <title>Activate Email </title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/style.css"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.js"></script>
  <script src="assets/script.js"></script>


  <!-- Owl stylesheet -->
  <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
  <script src="assets/owl-carousel/owl.carousel.js"></script>
  <!-- Owl stylesheet -->


  <!-- slitslider -->
  <link rel="stylesheet" type="text/css" href="assets/slitslider/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="assets/slitslider/css/custom.css"/>
  <script type="text/javascript" src="assets/slitslider/js/modernizr.custom.79639.js"></script>
  <script type="text/javascript" src="assets/slitslider/js/jquery.ba-cond.min.js"></script>
  <script type="text/javascript" src="assets/slitslider/js/jquery.slitslider.js"></script>
  <!-- slitslider -->
</head>
<body><!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="/">Home</a> / Activate Code</span>
    <h2>Please enter your Activate code for continue</h2>
  </div>
</div>
<br>
<h3 th:text="${msg}" style="text-align: center; color: red"></h3>
<!-- banner -->
<form action="/activateCode" method="post">
  <div class="container">
    <div class="spacer">
      <div class="row register">
        <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">

          <input type="number" class="form-control" placeholder="Enter Activation Code" name="token" required="required" max="999999">

          <button type="submit" class="btn btn-success" name="Submit">Activate</button>
        </div>
      </div>
    </div>
  </div>
</form>

<footer th:insert="footer :: footer"></footer>



</body>
</html>