<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="icon" href="images/logo.png" type="image/gif" sizes="any">

    <meta charset="UTF-8">
    <title>Change password</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/script.js"></script>


    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <script src="assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->


    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/custom.css"/>
    <script type="text/javascript" src="assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->
</head>
<body><!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/">Home</a> / Change Password</span>
        <h2>Change Password</h2>
    </div>
</div>
<!-- banner -->

<div class="container">
    <div class="spacer">
        <div class="row register">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
                <form action="/changePassword" method="post">

                    <input type="hidden" class="form-control" name="email" required="required" th:value="${email}">


                    <input type="password" class="form-control" placeholder="Password" required minlength="6"
                           name="password" onchange="onChange()">

                    <input type="password" class="form-control" placeholder="Confirm Password" required minlength="6"
                           name="confirm" onchange="onChange()">

                    <button type="submit" class="btn btn-success" name="Submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <button style="height:40px;width:200px;" class="btn btn-success center" onclick="window.location.href='/forgotPassword';">Forgot password</button>
</div>


<br>
<footer th:insert="footer :: footer"></footer>
<script>
    function onChange() {
        const password = document.querySelector('input[name=password]');
        const confirm = document.querySelector('input[name=confirm]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }

    }
</script>
</body>
</html>