<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="any">

    <meta charset="UTF-8">
    <title>Contact Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/script.js"></script>


    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <script src="assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->


    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/custom.css"/>
    <script type="text/javascript" src="assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/agents">Agents</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li class="active"><a href="/contact">Contact</a></li>
                    <li><a href="/myAccount">My Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="header">
        <a href="/"><img src="images/logo.png" alt="Realestate"></a>
        <ul class="pull-right">
            <li><a href="/buysalerent">Buy</a></li>
            <li><a href="/buysalerent">Sale</a></li>
            <li><a href="/buysalerent">Rent</a></li>
        </ul>
    </div>
</div>
<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/">Home</a> / Contact Us</span>
        <h2>Contact Us</h2>
    </div>
</div>

<div class="container">
    <div class="spacer">
        <div class="row contact">
            <div class="col-lg-6 col-sm-6 ">

                <form action="/contactAdmin" method="post">
                    <input type="text" class="form-control" placeholder="Subject" name="subject" required="required">
                    <textarea rows="6" class="form-control" placeholder="Message" name="text"
                              required="required"></textarea>

                    <button type="submit" class="btn btn-success">Send Message</button>
                </form>


            </div>
            <div class="col-lg-6 col-sm-6 ">
                <div class="well">
                    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.914707981716!2d-73.98784229731935!3d40.74842278504184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e1!3m2!1sen!2s!4v1676404962529!5m2!1sen!2s"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="footer :: footer"></footer>

</body>
</html>