<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="any">

    <meta charset="UTF-8">
    <title>Edit profile Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/script.js"></script>


    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <script src="assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->


    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slitslider/css/custom.css"/>
    <script type="text/javascript" src="assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->
</head>
<body><!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/">Home</a> / Edit profile</span>
        <h2>Edit profile</h2>
    </div>
</div>
<br>
<div>
    <form action="/updateProfile" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="spacer">
                <div class="row register">
                    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 "
                         th:each="users : ${userData}">
                        <input type="hidden" class="form-control" name="id"  th:value="${users.id}">
                        <input type="text" class="form-control" th:value="${users.name}" placeholder="Full Name"
                               name="name" required="required">
                        <input type="text" class="form-control" th:value="${users.surname}" placeholder="Full Surname"
                               name="surname"
                               required="required">
                        <input type="number" class="form-control" th:value="${users.phoneNumber}"
                               placeholder="Enter phone number" name="phoneNumber"
                               required="required" max="2147483647">
                        <input type="file" class="form-control"  name="image" required="required"/><br>

                        <button type="submit" class="btn btn-success" name="Submit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<!-- banner -->

<footer th:insert="footer :: footer"></footer>
<script>
    function onChange() {
        const password = document.querySelector('input[name=password]');
        const confirm = document.querySelector('input[name=confirm]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }

    }
</script>
</body>
</html>