<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" href="images/logo.png" type="image/gif" sizes="any">
  <meta charset="UTF-8">
  <title>My Messages</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/style.css"/>
  <link rel="stylesheet" href="assets/message.css"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.js"></script>
  <script src="assets/script.js"></script>


  <!-- Owl stylesheet -->
  <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
  <script src="assets/owl-carousel/owl.carousel.js"></script>
  <!-- Owl stylesheet -->


  <!-- slitslider -->
  <link rel="stylesheet" type="text/css" href="assets/slitslider/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="assets/slitslider/css/custom.css"/>
  <script type="text/javascript" src="assets/slitslider/js/modernizr.custom.79639.js"></script>
  <script type="text/javascript" src="assets/slitslider/js/jquery.ba-cond.min.js"></script>
  <script type="text/javascript" src="assets/slitslider/js/jquery.slitslider.js"></script>
  <!-- slitslider -->
</head>
<body>

<div class="navbar-wrapper">

  <div class="navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Nav Starts -->
      <div class="navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/agents">Agents</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/myAccount">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="active"><a href="/message">Messages</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="header">
    <a href="/"><img src="images/logo.png" alt="Realestate"></a>
    <ul class="pull-right">
      <li><a href="/buysalerent">Buy</a></li>
      <li><a href="/buysalerent">Sale</a></li>
      <li><a href="/buysalerent">Rent</a></li>
    </ul>
  </div>
</div>

<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="/">Home</a> / Messages</span>
    <h2>My Messages</h2>
  </div>
</div>


<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
              <span>
<!--                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>-->
                </span> </div>
          </div>
        </div>
        <div class="inbox_chat" th:each="msg : ${messageUser}">

          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5 th:text="${msg}"> <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>

          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
              <span class="time_date"> 11:01 AM    |    Today</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>We work directly with our designers and suppliers,
                  and sell direct to you, which means quality, exclusive
                  products, at a price anyone can afford.</p>
                <span class="time_date"> 11:01 AM    |    Today</span></div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form action="/sendMessage" method="post">
              <input type="text" name="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="submit"><i class="glyphicon glyphicon-send" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer th:insert="footer :: footer"></footer>


</body>
</html>